<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Employees</title>
</head>
<body>
    <h1>All Employees</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="employee : ${employees}">
                <td th:text="${employee.id}"></td>
                <td th:text="${employee.firstName}"></td>
                <td th:text="${employee.lastName}"></td>
                <td th:text="${employee.email}"></td>
            </tr>
        </tbody>
    </table>

</body>
</html>